.banner{
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 8px;
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80),
  url(https://images.unsplash.com/photo-1533049426476-9a889e21ece5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80),
  url(https://images.unsplash.com/photo-1640888652225-529c8cd4be50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
  background-size: contain,contain,contain;

  background-position: left, center, right;
  background-size: 30%,40%,30%;
  background-repeat: no-repeat;
  height: 40rem;
  opacity: 0.8;
  color: rgb(255, 254, 254);
  font-family: 'Bebas Neue';
  text-shadow: 1px 1px 2px black;
  font-size: 2em;
  border-top: 0.1em solid grey;
}


.banner a {
  text-decoration:none ;
  color: rgb(232, 9, 9);
  padding: 1em;
  background-color: black;
  border-radius: 10%;
}


@media (max-width: 900px) {
  .banner{

    font-size: 1.5em;
    height: 20rem;
  }
}
